.post {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.post__header {
    display: flex;
    margin-bottom: 10px;
}

.post__info {
    margin-left: 10px;
}


.post_body {
    overflow-wrap: anywhere;
    font-size: 12px;
}

.post__info > h2 {
    font-size: 15px;
}

.post__info > p {
    font-size: 12px;
    color: gray;
}

.post__buttons {
    display: flex;
}