.feed {
    flex: 60em;
    margin: 0 20px;
}


.feed__inputContainer {
    background-color: white;
}

.feed__input {
    display: flex;
    background-color: white;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding-left: 15px;
    padding: 10px;
    color: gray;
}

.feed__input > form {
    display: flex;
    width: 100%;
}

.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 500;
}

.feed__input > form > button {
    display: none;
}

