.feed__inputOptions {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    padding: 10px;
    color: gray;
    border-radius: 5px;
}

.inputOption:hover {
    background: whitesmoke;
    border-radius: 5px;
}