.login {
    display: grid;
    padding-top: 100px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    color: #444;
}

.logo {
    width: 350px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
}


.login > form {
    display: flex;
    flex-direction: column;
}

.login > form > input {
    width: 350px;
    height: 55px;
    font-size: 20ps;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    width: 350px;
    height: 50px;
    background-color: #0074b1;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.login__register {
    color: #0177b7;
    cursor: pointer;
}